.education-container {
    display: flex;
    flex-direction: column;
    margin: 30px 10px 20px 10px;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
}
.education-container > h2 {
    align-self: center;
    font-size: 36px;
    color: #D6D5A8;
    margin-bottom: 40px;
}

.education-entry {
    display: flex;
    padding: 20px;
    width: 100%;
    align-self: center;
}
.education-entry > img {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    align-self: center;
}
.education-entry > p {
    color: #D6D5A8;
    margin: 10px;
}