.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.education-contact-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.contact-links-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    width: 50%;
}

.contact-links-container > h2 {
    align-self: center;
    text-align: center;
    color:#D6D5A8;
    font-size: 32px;
}

.email-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

@media (800px >= width){
    .education-contact-links{
        flex-direction: column;
    }
}