.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.greeting-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.greeting-container > h1 {
    color:#D6D5A8;
    font-size: 32px;
    margin: 10px 0px 10px 0px;
}
.greeting-container > p {
    color: #D6D5A8;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}


.profile-picture {
    display: flex;
    border: 2px solid #D6D5A8;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

img {
    
    max-height: 375px;
    max-width: 375px;
}

.experience-container {
    margin: 30px 10px 20px 10px;
    border: 1px solid #51557E;
    border-radius: 5px;
    padding: 20px;
}
.experience-container > h2 {
    color: #1B2430;
    text-decoration: 1.2px solid underline #D6D5A8;
}

.contact-links-container {
    margin: 30px 10px 20px 10px;
    border: 1px solid #51557E;
    border-radius: 5px;
    padding: 20px;
}
.contact-links-container > h2 {
    color: #1B2430;
    text-decoration: 1.2px solid underline #D6D5A8;
}

@media (640px <= width){
    .intro-container{
        display: flex;
        flex-direction: row;
    }
    img {
        max-height: 450px;
        max-width: 450px;
    }
    .greeting-container {
        margin: 0px 10px 0px 0px;
        width: 50%;
        height: 100%;
        padding: 10px;
    }
}