.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-links-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.contact-links-container > h2 {
    align-self: center;
    color:#D6D5A8;
    font-size: 32px;
}

.email-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}