:root {
    --teal: rgb(41, 206, 206);
    --orange: rgb(244, 151, 11);
    --red: rgb(241, 49, 10);
}

.intro-container {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    justify-content:space-evenly;
    align-items: center;
    padding: 40px;
    margin-bottom: 100px;
}

.greeting-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.greeting-container > h1 {
    color:#D6D5A8;
    font-size: 36px;
    margin: 10px 0px 10px 0px;
}
.greeting-container > p {
    color: #D6D5A8;
    font-size: 24px;
    margin: 10px 0px 10px 0px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.greeting-container > p > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--teal),
        var(--orange),
        var(--red),
        var(--teal)
    );
    background-size: 200%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.greeting-container > p > .magic {
    display: inline-block;
    position: relative;
}

.profile-picture {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -3px 2px 30px black;
}

img {
    max-height: 375px;
    max-width: 375px;
}

@media (800px <= width){
    .intro-container{
        display: flex;
        flex-direction: row;
    }
    
    .greeting-container {
        margin: 0px 10px 0px 0px;
        width: 50%;
        height: 100%;
        padding: 10px;
    }

    img {
        max-height: 450px;
        max-width: 450px;
    }
}