@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.header-container {
    display: flex;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    transition: 600ms;
    z-index: 2;
}

.header-container.active {
    background-color: #1B2430;
    border-bottom: 1px solid #51557E;
}

.header-buttons-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: fit-content;
    justify-content: safe center;
}

.header-button {
    margin: 10px 20px 10px 20px;
    background: none;
    border: none;
    color: #D6D5A8;
    padding: 10px;
    transition: ease-in-out 850ms;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.header-button:hover {
    border:1px solid black;
    border-radius: 5px;
    color: #816797;
    box-shadow: -5px 8px 10px black;
    cursor: pointer;
}