@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  display: initial;
}
