@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body { 
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url(./images/bckgrnd.jpg);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}